USE [master]
GO
/****** Object:  Database [PRNPROJECT7]    Script Date: 11/14/2025 8:31:19 PM ******/
CREATE DATABASE [PRNPROJECT7]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRNPROJECT7', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PRNPROJECT7.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRNPROJECT7_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PRNPROJECT7_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRNPROJECT7].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRNPROJECT7]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11/14/2025 8:31:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 11/14/2025 8:31:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Role] [int] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[AId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 11/14/2025 8:31:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[AdId] [int] IDENTITY(1,1) NOT NULL,
	[AId] [int] NOT NULL,
	[AdName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Admins] PRIMARY KEY CLUSTERED 
(
	[AdId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Answers]    Script Date: 11/14/2025 8:31:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answers](
	[AwId] [int] IDENTITY(1,1) NOT NULL,
	[EId] [int] NOT NULL,
	[AnswerContent] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Answers] PRIMARY KEY CLUSTERED 
(
	[AwId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssignmentSubmissions]    Script Date: 11/14/2025 8:31:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssignmentSubmissions](
	[SubmissionId] [int] IDENTITY(1,1) NOT NULL,
	[PostId] [int] NOT NULL,
	[Sid] [int] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[SubmitTime] [datetime2](7) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[Grade] [float] NULL,
 CONSTRAINT [PK_AssignmentSubmissions] PRIMARY KEY CLUSTERED 
(
	[SubmissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatGroups]    Script Date: 11/14/2025 8:31:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatGroups](
	[GroupId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Type] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ChatGroups] PRIMARY KEY CLUSTERED 
(
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatMessages2]    Script Date: 11/14/2025 8:31:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatMessages2](
	[MessageId] [bigint] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
	[SenderId] [int] NOT NULL,
	[GroupId] [int] NULL,
	[ReceiverId] [int] NULL,
 CONSTRAINT [PK_ChatMessages2] PRIMARY KEY CLUSTERED 
(
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClassroomMembers]    Script Date: 11/14/2025 8:31:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassroomMembers](
	[MemberId] [int] IDENTITY(1,1) NOT NULL,
	[ClassroomId] [int] NOT NULL,
	[Sid] [int] NOT NULL,
	[JoinDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ClassroomMembers] PRIMARY KEY CLUSTERED 
(
	[MemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Classrooms]    Script Date: 11/14/2025 8:31:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classrooms](
	[ClassroomId] [int] IDENTITY(1,1) NOT NULL,
	[Tid] [int] NOT NULL,
	[ClassName] [nvarchar](max) NOT NULL,
	[ClassCode] [nvarchar](450) NOT NULL,
	[ClassDescription] [nvarchar](max) NOT NULL,
	[CreateTime] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Classrooms] PRIMARY KEY CLUSTERED 
(
	[ClassroomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 11/14/2025 8:31:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[PostId] [int] NOT NULL,
	[Aid] [int] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[CreateTime] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamRanks]    Script Date: 11/14/2025 8:31:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamRanks](
	[ErId] [int] IDENTITY(1,1) NOT NULL,
	[SuId] [int] NOT NULL,
	[RaId] [int] NOT NULL,
 CONSTRAINT [PK_ExamRanks] PRIMARY KEY CLUSTERED 
(
	[ErId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exams]    Script Date: 11/14/2025 8:31:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exams](
	[EId] [int] IDENTITY(1,1) NOT NULL,
	[SuId] [int] NULL,
	[EName] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[StartTime] [datetime2](7) NULL,
	[EndTime] [datetime2](7) NULL,
	[ExamContent] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_Exams] PRIMARY KEY CLUSTERED 
(
	[EId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupMembers]    Script Date: 11/14/2025 8:31:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupMembers](
	[GroupId] [int] NOT NULL,
	[AccountId] [int] NOT NULL,
	[JoinedAt] [datetime2](7) NOT NULL,
	[IsAdmin] [bit] NOT NULL,
 CONSTRAINT [PK_GroupMembers] PRIMARY KEY CLUSTERED 
(
	[GroupId] ASC,
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LearningMaterials]    Script Date: 11/14/2025 8:31:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LearningMaterials](
	[MaterialID] [int] IDENTITY(1,1) NOT NULL,
	[SubjectID] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[FilePath] [nvarchar](255) NULL,
	[UploadDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_LearningMaterials] PRIMARY KEY CLUSTERED 
(
	[MaterialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificationReceivers]    Script Date: 11/14/2025 8:31:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationReceivers](
	[NrId] [int] IDENTITY(1,1) NOT NULL,
	[NtId] [int] NOT NULL,
	[ReceiverId] [int] NOT NULL,
	[IsRead] [bit] NOT NULL,
 CONSTRAINT [PK_NotificationReceivers] PRIMARY KEY CLUSTERED 
(
	[NrId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 11/14/2025 8:31:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NtId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Content] [nvarchar](max) NULL,
	[SentTime] [datetime2](7) NOT NULL,
	[SenderId] [int] NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[NtId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 11/14/2025 8:31:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[PostId] [int] IDENTITY(1,1) NOT NULL,
	[ClassroomId] [int] NOT NULL,
	[Aid] [int] NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[PostType] [nvarchar](max) NOT NULL,
	[CreateTime] [datetime2](7) NOT NULL,
	[DueDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Posts] PRIMARY KEY CLUSTERED 
(
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrivateChats]    Script Date: 11/14/2025 8:31:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrivateChats](
	[ChatId] [int] IDENTITY(1,1) NOT NULL,
	[UserAId] [int] NOT NULL,
	[UserBId] [int] NOT NULL,
	[LastActive] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PrivateChats] PRIMARY KEY CLUSTERED 
(
	[ChatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ranks]    Script Date: 11/14/2025 8:31:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ranks](
	[RaId] [int] IDENTITY(1,1) NOT NULL,
	[RankName] [nvarchar](50) NULL,
	[MinScore] [real] NULL,
	[MaxScore] [real] NULL,
 CONSTRAINT [PK_Ranks] PRIMARY KEY CLUSTERED 
(
	[RaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 11/14/2025 8:31:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[SId] [int] IDENTITY(1,1) NOT NULL,
	[AId] [int] NOT NULL,
	[SName] [nvarchar](100) NOT NULL,
	[Gender] [nvarchar](20) NULL,
	[Dob] [datetime2](7) NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[SId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 11/14/2025 8:31:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[SuId] [int] IDENTITY(1,1) NOT NULL,
	[SuName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Subjects] PRIMARY KEY CLUSTERED 
(
	[SuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Submits]    Script Date: 11/14/2025 8:31:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Submits](
	[SbId] [int] IDENTITY(1,1) NOT NULL,
	[SId] [int] NOT NULL,
	[EId] [int] NOT NULL,
	[Score] [float] NULL,
	[Content] [nvarchar](max) NULL,
	[SubmitTime] [datetime2](7) NOT NULL,
	[Comment] [nvarchar](max) NULL,
 CONSTRAINT [PK_Submits] PRIMARY KEY CLUSTERED 
(
	[SbId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 11/14/2025 8:31:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[TId] [int] IDENTITY(1,1) NOT NULL,
	[AId] [int] NOT NULL,
	[TName] [nvarchar](100) NOT NULL,
	[Qualification] [nvarchar](255) NULL,
 CONSTRAINT [PK_Teachers] PRIMARY KEY CLUSTERED 
(
	[TId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeacherSubjects]    Script Date: 11/14/2025 8:31:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeacherSubjects](
	[TsId] [int] IDENTITY(1,1) NOT NULL,
	[TId] [int] NOT NULL,
	[SuId] [int] NOT NULL,
 CONSTRAINT [PK_TeacherSubjects] PRIMARY KEY CLUSTERED 
(
	[TsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251114132741_InitData2', N'9.0.10')
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([AId], [Email], [Password], [Role], [Status]) VALUES (1, N'admin@example.com', N'Admin@123', 0, 1)
INSERT [dbo].[Accounts] ([AId], [Email], [Password], [Role], [Status]) VALUES (2, N'teacher@example.com', N'Teacher@123', 1, 1)
INSERT [dbo].[Accounts] ([AId], [Email], [Password], [Role], [Status]) VALUES (3, N'student@example.com', N'Student@123', 2, 1)
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([AdId], [AId], [AdName]) VALUES (1, 1, N'Super Admin')
SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
SET IDENTITY_INSERT [dbo].[Answers] ON 

INSERT [dbo].[Answers] ([AwId], [EId], [AnswerContent], [CreatedAt], [Status]) VALUES (1, 1, N'[
                        { "Question": "What is 2 + 2?", "Options": ["3", "4", "5", "6"], "CorrectAnswer": "4" },
                        { "Question": "What is 10 / 2?", "Options": ["2", "5", "10", "20"], "CorrectAnswer": "5" }
                    ]', CAST(N'2025-01-03T08:00:00.0000000' AS DateTime2), 1)
INSERT [dbo].[Answers] ([AwId], [EId], [AnswerContent], [CreatedAt], [Status]) VALUES (2, 2, N'[
                        { "Question": "He ___ to school every day.", "Options": ["go", "goes", "going", "gone"], "CorrectAnswer": "goes" },
                        { "Question": "Which word is a noun?", "Options": ["run", "beautiful", "happiness", "quickly"], "CorrectAnswer": "happiness" }
                    ]', CAST(N'2025-01-05T08:00:00.0000000' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Answers] OFF
GO
SET IDENTITY_INSERT [dbo].[ChatGroups] ON 

INSERT [dbo].[ChatGroups] ([GroupId], [Name], [Type], [CreatedAt]) VALUES (3, N'CongDong', 1, CAST(N'2025-11-14T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ChatGroups] OFF
GO
SET IDENTITY_INSERT [dbo].[ExamRanks] ON 

INSERT [dbo].[ExamRanks] ([ErId], [SuId], [RaId]) VALUES (1, 1, 1)
INSERT [dbo].[ExamRanks] ([ErId], [SuId], [RaId]) VALUES (2, 2, 2)
SET IDENTITY_INSERT [dbo].[ExamRanks] OFF
GO
SET IDENTITY_INSERT [dbo].[Exams] ON 

INSERT [dbo].[Exams] ([EId], [SuId], [EName], [CreatedAt], [StartTime], [EndTime], [ExamContent], [Status]) VALUES (1, 1, N'Math Midterm Exam', CAST(N'2025-01-01T08:00:00.0000000' AS DateTime2), CAST(N'2025-01-02T08:00:00.0000000' AS DateTime2), CAST(N'2025-01-02T10:00:00.0000000' AS DateTime2), N'[
                        { "Question": "What is 2 + 2?", "Options": ["3", "4", "5", "6"], "CorrectAnswer": "4" },
                        { "Question": "What is 10 / 2?", "Options": ["2", "5", "10", "20"], "CorrectAnswer": "5" }
                    ]', 1)
SET IDENTITY_INSERT [dbo].[Exams] OFF
GO
SET IDENTITY_INSERT [dbo].[NotificationReceivers] ON 

INSERT [dbo].[NotificationReceivers] ([NrId], [NtId], [ReceiverId], [IsRead]) VALUES (1, 1, 3, 1)
INSERT [dbo].[NotificationReceivers] ([NrId], [NtId], [ReceiverId], [IsRead]) VALUES (2, 1, 4, 0)
INSERT [dbo].[NotificationReceivers] ([NrId], [NtId], [ReceiverId], [IsRead]) VALUES (3, 2, 3, 0)
SET IDENTITY_INSERT [dbo].[NotificationReceivers] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([NtId], [Title], [Content], [SentTime], [SenderId]) VALUES (1, N'Welcome to the LMS System', N'We’re excited to have you here!', CAST(N'2025-01-05T08:00:00.0000000' AS DateTime2), 1)
INSERT [dbo].[Notifications] ([NtId], [Title], [Content], [SentTime], [SenderId]) VALUES (2, N'Upcoming Math Exam Reminder', N'Don''t forget your math exam this Friday at 8:00 AM.', CAST(N'2025-01-07T08:00:00.0000000' AS DateTime2), 2)
INSERT [dbo].[Notifications] ([NtId], [Title], [Content], [SentTime], [SenderId]) VALUES (3, N'System Maintenance', N'LMS will be under maintenance this weekend.', CAST(N'2025-01-08T08:00:00.0000000' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[Ranks] ON 

INSERT [dbo].[Ranks] ([RaId], [RankName], [MinScore], [MaxScore]) VALUES (1, N'A', 8.5, 10)
INSERT [dbo].[Ranks] ([RaId], [RankName], [MinScore], [MaxScore]) VALUES (2, N'B', 6.5, 8.4)
INSERT [dbo].[Ranks] ([RaId], [RankName], [MinScore], [MaxScore]) VALUES (3, N'C', 4.5, 6.4)
SET IDENTITY_INSERT [dbo].[Ranks] OFF
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([SId], [AId], [SName], [Gender], [Dob]) VALUES (1, 3, N'Tran Thi C', N'Female', CAST(N'2008-05-12T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Students] ([SId], [AId], [SName], [Gender], [Dob]) VALUES (2, 4, N'Le Van D', N'Male', CAST(N'2008-06-12T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Students] OFF
GO
SET IDENTITY_INSERT [dbo].[Subjects] ON 

INSERT [dbo].[Subjects] ([SuId], [SuName]) VALUES (1, N'Mathematics')
INSERT [dbo].[Subjects] ([SuId], [SuName]) VALUES (2, N'English')
SET IDENTITY_INSERT [dbo].[Subjects] OFF
GO
SET IDENTITY_INSERT [dbo].[Submits] ON 

INSERT [dbo].[Submits] ([SbId], [SId], [EId], [Score], [Content], [SubmitTime], [Comment]) VALUES (1, 1, 1, 9, N'[{"QuestionIndex":1,"ChosenAnswer":"4"},{"QuestionIndex":2,"ChosenAnswer":"5"}]', CAST(N'2025-01-04T08:00:00.0000000' AS DateTime2), N'Good performance')
INSERT [dbo].[Submits] ([SbId], [SId], [EId], [Score], [Content], [SubmitTime], [Comment]) VALUES (2, 2, 2, 7.5, N'[{"QuestionIndex":1,"ChosenAnswer":"goes"},{"QuestionIndex":2,"ChosenAnswer":"run"}]', CAST(N'2025-01-06T08:00:00.0000000' AS DateTime2), N'Needs to improve grammar')
SET IDENTITY_INSERT [dbo].[Submits] OFF
GO
SET IDENTITY_INSERT [dbo].[Teachers] ON 

INSERT [dbo].[Teachers] ([TId], [AId], [TName], [Qualification]) VALUES (1, 2, N'Nguyen Van B', N'Master of Mathematics')
SET IDENTITY_INSERT [dbo].[Teachers] OFF
GO
SET IDENTITY_INSERT [dbo].[TeacherSubjects] ON 

INSERT [dbo].[TeacherSubjects] ([TsId], [TId], [SuId]) VALUES (1, 1, 1)
INSERT [dbo].[TeacherSubjects] ([TsId], [TId], [SuId]) VALUES (2, 1, 2)
SET IDENTITY_INSERT [dbo].[TeacherSubjects] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Accounts_Email]    Script Date: 11/14/2025 8:31:20 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Accounts_Email] ON [dbo].[Accounts]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Admins_AId]    Script Date: 11/14/2025 8:31:20 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Admins_AId] ON [dbo].[Admins]
(
	[AId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Answers_EId]    Script Date: 11/14/2025 8:31:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_Answers_EId] ON [dbo].[Answers]
(
	[EId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AssignmentSubmissions_PostId]    Script Date: 11/14/2025 8:31:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_AssignmentSubmissions_PostId] ON [dbo].[AssignmentSubmissions]
(
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AssignmentSubmissions_Sid]    Script Date: 11/14/2025 8:31:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_AssignmentSubmissions_Sid] ON [dbo].[AssignmentSubmissions]
(
	[Sid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChatMessages2_GroupId]    Script Date: 11/14/2025 8:31:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChatMessages2_GroupId] ON [dbo].[ChatMessages2]
(
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChatMessages2_ReceiverId]    Script Date: 11/14/2025 8:31:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChatMessages2_ReceiverId] ON [dbo].[ChatMessages2]
(
	[ReceiverId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChatMessages2_SenderId]    Script Date: 11/14/2025 8:31:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChatMessages2_SenderId] ON [dbo].[ChatMessages2]
(
	[SenderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ClassroomMembers_ClassroomId_Sid]    Script Date: 11/14/2025 8:31:20 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ClassroomMembers_ClassroomId_Sid] ON [dbo].[ClassroomMembers]
(
	[ClassroomId] ASC,
	[Sid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ClassroomMembers_Sid]    Script Date: 11/14/2025 8:31:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_ClassroomMembers_Sid] ON [dbo].[ClassroomMembers]
(
	[Sid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Classrooms_ClassCode]    Script Date: 11/14/2025 8:31:20 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Classrooms_ClassCode] ON [dbo].[Classrooms]
(
	[ClassCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Classrooms_Tid]    Script Date: 11/14/2025 8:31:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_Classrooms_Tid] ON [dbo].[Classrooms]
(
	[Tid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comments_Aid]    Script Date: 11/14/2025 8:31:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_Comments_Aid] ON [dbo].[Comments]
(
	[Aid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comments_PostId]    Script Date: 11/14/2025 8:31:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_Comments_PostId] ON [dbo].[Comments]
(
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ExamRanks_RaId]    Script Date: 11/14/2025 8:31:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_ExamRanks_RaId] ON [dbo].[ExamRanks]
(
	[RaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ExamRanks_SuId_RaId]    Script Date: 11/14/2025 8:31:20 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ExamRanks_SuId_RaId] ON [dbo].[ExamRanks]
(
	[SuId] ASC,
	[RaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Exams_SuId]    Script Date: 11/14/2025 8:31:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_Exams_SuId] ON [dbo].[Exams]
(
	[SuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GroupMembers_AccountId]    Script Date: 11/14/2025 8:31:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_GroupMembers_AccountId] ON [dbo].[GroupMembers]
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LearningMaterials_SubjectID]    Script Date: 11/14/2025 8:31:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_LearningMaterials_SubjectID] ON [dbo].[LearningMaterials]
(
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NotificationReceivers_NtId]    Script Date: 11/14/2025 8:31:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_NotificationReceivers_NtId] ON [dbo].[NotificationReceivers]
(
	[NtId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NotificationReceivers_ReceiverId]    Script Date: 11/14/2025 8:31:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_NotificationReceivers_ReceiverId] ON [dbo].[NotificationReceivers]
(
	[ReceiverId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_SenderId]    Script Date: 11/14/2025 8:31:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_SenderId] ON [dbo].[Notifications]
(
	[SenderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Posts_Aid]    Script Date: 11/14/2025 8:31:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_Posts_Aid] ON [dbo].[Posts]
(
	[Aid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Posts_ClassroomId]    Script Date: 11/14/2025 8:31:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_Posts_ClassroomId] ON [dbo].[Posts]
(
	[ClassroomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PrivateChats_UserAId]    Script Date: 11/14/2025 8:31:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_PrivateChats_UserAId] ON [dbo].[PrivateChats]
(
	[UserAId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PrivateChats_UserBId]    Script Date: 11/14/2025 8:31:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_PrivateChats_UserBId] ON [dbo].[PrivateChats]
(
	[UserBId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Students_AId]    Script Date: 11/14/2025 8:31:20 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Students_AId] ON [dbo].[Students]
(
	[AId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Subjects_SuId]    Script Date: 11/14/2025 8:31:20 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Subjects_SuId] ON [dbo].[Subjects]
(
	[SuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Submits_EId]    Script Date: 11/14/2025 8:31:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_Submits_EId] ON [dbo].[Submits]
(
	[EId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Submits_SId]    Script Date: 11/14/2025 8:31:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_Submits_SId] ON [dbo].[Submits]
(
	[SId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Teachers_AId]    Script Date: 11/14/2025 8:31:20 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Teachers_AId] ON [dbo].[Teachers]
(
	[AId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TeacherSubjects_SuId]    Script Date: 11/14/2025 8:31:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_TeacherSubjects_SuId] ON [dbo].[TeacherSubjects]
(
	[SuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TeacherSubjects_TId_SuId]    Script Date: 11/14/2025 8:31:20 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_TeacherSubjects_TId_SuId] ON [dbo].[TeacherSubjects]
(
	[TId] ASC,
	[SuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Exams] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[LearningMaterials] ADD  DEFAULT (getdate()) FOR [UploadDate]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [SentTime]
GO
ALTER TABLE [dbo].[Submits] ADD  DEFAULT (getdate()) FOR [SubmitTime]
GO
ALTER TABLE [dbo].[Admins]  WITH CHECK ADD  CONSTRAINT [FK_Admins_Accounts_AId] FOREIGN KEY([AId])
REFERENCES [dbo].[Accounts] ([AId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Admins] CHECK CONSTRAINT [FK_Admins_Accounts_AId]
GO
ALTER TABLE [dbo].[Answers]  WITH CHECK ADD  CONSTRAINT [FK_Answers_Exams_EId] FOREIGN KEY([EId])
REFERENCES [dbo].[Exams] ([EId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Answers] CHECK CONSTRAINT [FK_Answers_Exams_EId]
GO
ALTER TABLE [dbo].[AssignmentSubmissions]  WITH CHECK ADD  CONSTRAINT [FK_AssignmentSubmissions_Posts_PostId] FOREIGN KEY([PostId])
REFERENCES [dbo].[Posts] ([PostId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AssignmentSubmissions] CHECK CONSTRAINT [FK_AssignmentSubmissions_Posts_PostId]
GO
ALTER TABLE [dbo].[AssignmentSubmissions]  WITH CHECK ADD  CONSTRAINT [FK_AssignmentSubmissions_Students_Sid] FOREIGN KEY([Sid])
REFERENCES [dbo].[Students] ([SId])
GO
ALTER TABLE [dbo].[AssignmentSubmissions] CHECK CONSTRAINT [FK_AssignmentSubmissions_Students_Sid]
GO
ALTER TABLE [dbo].[ChatMessages2]  WITH CHECK ADD  CONSTRAINT [FK_ChatMessages2_Accounts_ReceiverId] FOREIGN KEY([ReceiverId])
REFERENCES [dbo].[Accounts] ([AId])
GO
ALTER TABLE [dbo].[ChatMessages2] CHECK CONSTRAINT [FK_ChatMessages2_Accounts_ReceiverId]
GO
ALTER TABLE [dbo].[ChatMessages2]  WITH CHECK ADD  CONSTRAINT [FK_ChatMessages2_Accounts_SenderId] FOREIGN KEY([SenderId])
REFERENCES [dbo].[Accounts] ([AId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChatMessages2] CHECK CONSTRAINT [FK_ChatMessages2_Accounts_SenderId]
GO
ALTER TABLE [dbo].[ChatMessages2]  WITH CHECK ADD  CONSTRAINT [FK_ChatMessages2_ChatGroups_GroupId] FOREIGN KEY([GroupId])
REFERENCES [dbo].[ChatGroups] ([GroupId])
GO
ALTER TABLE [dbo].[ChatMessages2] CHECK CONSTRAINT [FK_ChatMessages2_ChatGroups_GroupId]
GO
ALTER TABLE [dbo].[ClassroomMembers]  WITH CHECK ADD  CONSTRAINT [FK_ClassroomMembers_Classrooms_ClassroomId] FOREIGN KEY([ClassroomId])
REFERENCES [dbo].[Classrooms] ([ClassroomId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ClassroomMembers] CHECK CONSTRAINT [FK_ClassroomMembers_Classrooms_ClassroomId]
GO
ALTER TABLE [dbo].[ClassroomMembers]  WITH CHECK ADD  CONSTRAINT [FK_ClassroomMembers_Students_Sid] FOREIGN KEY([Sid])
REFERENCES [dbo].[Students] ([SId])
GO
ALTER TABLE [dbo].[ClassroomMembers] CHECK CONSTRAINT [FK_ClassroomMembers_Students_Sid]
GO
ALTER TABLE [dbo].[Classrooms]  WITH CHECK ADD  CONSTRAINT [FK_Classrooms_Teachers_Tid] FOREIGN KEY([Tid])
REFERENCES [dbo].[Teachers] ([TId])
GO
ALTER TABLE [dbo].[Classrooms] CHECK CONSTRAINT [FK_Classrooms_Teachers_Tid]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Accounts_Aid] FOREIGN KEY([Aid])
REFERENCES [dbo].[Accounts] ([AId])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Accounts_Aid]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Posts_PostId] FOREIGN KEY([PostId])
REFERENCES [dbo].[Posts] ([PostId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Posts_PostId]
GO
ALTER TABLE [dbo].[ExamRanks]  WITH CHECK ADD  CONSTRAINT [FK_ExamRanks_Ranks_RaId] FOREIGN KEY([RaId])
REFERENCES [dbo].[Ranks] ([RaId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ExamRanks] CHECK CONSTRAINT [FK_ExamRanks_Ranks_RaId]
GO
ALTER TABLE [dbo].[ExamRanks]  WITH CHECK ADD  CONSTRAINT [FK_ExamRanks_Submits_SuId] FOREIGN KEY([SuId])
REFERENCES [dbo].[Submits] ([SbId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ExamRanks] CHECK CONSTRAINT [FK_ExamRanks_Submits_SuId]
GO
ALTER TABLE [dbo].[Exams]  WITH CHECK ADD  CONSTRAINT [FK_Exams_Subjects_SuId] FOREIGN KEY([SuId])
REFERENCES [dbo].[Subjects] ([SuId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Exams] CHECK CONSTRAINT [FK_Exams_Subjects_SuId]
GO
ALTER TABLE [dbo].[GroupMembers]  WITH CHECK ADD  CONSTRAINT [FK_GroupMembers_Accounts_AccountId] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([AId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GroupMembers] CHECK CONSTRAINT [FK_GroupMembers_Accounts_AccountId]
GO
ALTER TABLE [dbo].[GroupMembers]  WITH CHECK ADD  CONSTRAINT [FK_GroupMembers_ChatGroups_GroupId] FOREIGN KEY([GroupId])
REFERENCES [dbo].[ChatGroups] ([GroupId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GroupMembers] CHECK CONSTRAINT [FK_GroupMembers_ChatGroups_GroupId]
GO
ALTER TABLE [dbo].[LearningMaterials]  WITH CHECK ADD  CONSTRAINT [FK_LearningMaterials_Subjects_SubjectID] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subjects] ([SuId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LearningMaterials] CHECK CONSTRAINT [FK_LearningMaterials_Subjects_SubjectID]
GO
ALTER TABLE [dbo].[NotificationReceivers]  WITH CHECK ADD  CONSTRAINT [FK_NotificationReceivers_Accounts_ReceiverId] FOREIGN KEY([ReceiverId])
REFERENCES [dbo].[Accounts] ([AId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NotificationReceivers] CHECK CONSTRAINT [FK_NotificationReceivers_Accounts_ReceiverId]
GO
ALTER TABLE [dbo].[NotificationReceivers]  WITH CHECK ADD  CONSTRAINT [FK_NotificationReceivers_Notifications_NtId] FOREIGN KEY([NtId])
REFERENCES [dbo].[Notifications] ([NtId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NotificationReceivers] CHECK CONSTRAINT [FK_NotificationReceivers_Notifications_NtId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Accounts_SenderId] FOREIGN KEY([SenderId])
REFERENCES [dbo].[Accounts] ([AId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Accounts_SenderId]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK_Posts_Accounts_Aid] FOREIGN KEY([Aid])
REFERENCES [dbo].[Accounts] ([AId])
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK_Posts_Accounts_Aid]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK_Posts_Classrooms_ClassroomId] FOREIGN KEY([ClassroomId])
REFERENCES [dbo].[Classrooms] ([ClassroomId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK_Posts_Classrooms_ClassroomId]
GO
ALTER TABLE [dbo].[PrivateChats]  WITH CHECK ADD  CONSTRAINT [FK_PrivateChats_Accounts_UserAId] FOREIGN KEY([UserAId])
REFERENCES [dbo].[Accounts] ([AId])
GO
ALTER TABLE [dbo].[PrivateChats] CHECK CONSTRAINT [FK_PrivateChats_Accounts_UserAId]
GO
ALTER TABLE [dbo].[PrivateChats]  WITH CHECK ADD  CONSTRAINT [FK_PrivateChats_Accounts_UserBId] FOREIGN KEY([UserBId])
REFERENCES [dbo].[Accounts] ([AId])
GO
ALTER TABLE [dbo].[PrivateChats] CHECK CONSTRAINT [FK_PrivateChats_Accounts_UserBId]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Accounts_AId] FOREIGN KEY([AId])
REFERENCES [dbo].[Accounts] ([AId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Accounts_AId]
GO
ALTER TABLE [dbo].[Submits]  WITH CHECK ADD  CONSTRAINT [FK_Submits_Exams_EId] FOREIGN KEY([EId])
REFERENCES [dbo].[Exams] ([EId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Submits] CHECK CONSTRAINT [FK_Submits_Exams_EId]
GO
ALTER TABLE [dbo].[Submits]  WITH CHECK ADD  CONSTRAINT [FK_Submits_Students_SId] FOREIGN KEY([SId])
REFERENCES [dbo].[Students] ([SId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Submits] CHECK CONSTRAINT [FK_Submits_Students_SId]
GO
ALTER TABLE [dbo].[Teachers]  WITH CHECK ADD  CONSTRAINT [FK_Teachers_Accounts_AId] FOREIGN KEY([AId])
REFERENCES [dbo].[Accounts] ([AId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Teachers] CHECK CONSTRAINT [FK_Teachers_Accounts_AId]
GO
ALTER TABLE [dbo].[TeacherSubjects]  WITH CHECK ADD  CONSTRAINT [FK_TeacherSubjects_Subjects_SuId] FOREIGN KEY([SuId])
REFERENCES [dbo].[Subjects] ([SuId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TeacherSubjects] CHECK CONSTRAINT [FK_TeacherSubjects_Subjects_SuId]
GO
ALTER TABLE [dbo].[TeacherSubjects]  WITH CHECK ADD  CONSTRAINT [FK_TeacherSubjects_Teachers_TId] FOREIGN KEY([TId])
REFERENCES [dbo].[Teachers] ([TId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TeacherSubjects] CHECK CONSTRAINT [FK_TeacherSubjects_Teachers_TId]
GO
USE [master]
GO
