<div class="list-group list-group-flush">
    <a href="/Teacher/Dashboard" class="list-group-item list-group-item-action">🏠 Trang chủ</a>
    <a href="/Exam/Create" class="list-group-item list-group-item-action">📝 Tạo đề thi</a>
    <a href="/exam/Index" class="list-group-item list-group-item-action">📋 Quản lý đề thi</a>
    <a href="/Teacher/StudentSubmissions" class="list-group-item list-group-item-action">📂 Bài nộp của học sinh</a>
    <a href="/Ranking/SubjectRanking" class="list-group-item list-group-item-action">🏆 Bảng xếp hạng</a>
    <a href="/Notification/Index" class="list-group-item list-group-item-action">🔔 Quản lý thông báo</a>
    <a href="/Notification/MyNotifications" class="list-group-item list-group-item-action">🔔 Thông báo</a>
    <a href="/Profile/ShowProfile" class="list-group-item list-group-item-action">👤 Hồ sơ</a>
    <a href="/Chat/index" class="list-group-item list-group-item-action">Chat</a>
    <a href="/Classroom/Index" class="list-group-item list-group-item-action" >	Lớp học của tôi</a>
    <a href="/Account/Logout" class="list-group-item list-group-item-action text-danger">🚪 Đăng xuất</a>
</div>
