.global-toast {
    position: fixed;
    bottom: 30px;
    right: -300px;
    background: #4c6ef5;
    color: white;
    padding: 12px 16px;
    border-radius: 6px;
    font-size: 14px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    transition: all 0.4s ease;
    z-index: 999999;
}

    .global-toast.show {
        right: 30px;
    }
